<% if @collection.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger alert-devise">
      <h5>Looks like there are problems: <%= pluralize(@collection.errors.count, "error") %>.</h5><br>
    </div>

    <% @collection.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </div>
<% end %>
