<% content_for :head do %>
  <%= javascript_include_tag "collections/user_collections" %>
  <%= javascript_tag "var userId = #{@current_user.id};" %>
<% end %>

<h1>Hi, <%= current_user.username %>!</h1>

<u><h3>Your Bookshelf</h3></u>
<div class="custlist" id="user-collections">
</div>
