<div class="custcontainer">
  <% if params[:user_id] %>
    <%= render "user_collections" %>
  <% else %>
    <%= render "all_collections" %>
  <% end %><br>
</div>

<% if params[:user_id] && params[:user_id] = current_user.id %>
  <div class="custbtn-container">
    <%= button_to "New Collection", new_user_collection_path, method: 'get', class: "btn btn-block" %>
  </div>
<% end %>
