<div class="custcontainer">
  <% if params[:user_id] %>
    <h1>Hi, <%= current_user.username %>!</h1>

    <u><h3>Your Bookshelf</h3></u>
    <%= render "user_collections" %>
  <% else %>
    <h1>Take a look at what's out there!</h1>
    <%= render "all_collections" %>
  <% end %><br>
</div>

<% if params[:user_id] && params[:user_id] = current_user.id %>
  <div class="custbtn-container">
    <%= button_to "New Collection", new_user_collection_path, method: 'get', class: "btn btn-block" %>
  </div>
<% end %>
