<% content_for :head do %>
  <%= javascript_include_tag "users/user_show" %>
  <%= javascript_tag "var userId = #{@current_user.id};" %>
<% end %>

<div class="custcontainer">

  <h1>Account Information</h1>

  <div class="custlist" id="user-show">
  </div>
</div>
