<div class="welcome">
  <h1>Welcome to Monocle</h1>

  <h3>Ready to fill your own bookshelf?</h3>

  <h3><%= link_to 'Log in', new_user_session_path, class: "btn btn-lg btn-default" %> or <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-lg btn-default" %></h3>
</div>
