<div class="welcome">
  <h1>Welcome to Monocle</h1>

  <p>Ready to fill your own bookshelf?</p>
  
  <a href="/login" class="btn btn-lg btn-default">Log In</a> or <a href="/signup" class="btn btn-lg btn-default">Sign Up</a>
</div>
