<%= render "book_errors" %>

<div class="form-input">
  <%= form_for @book, url: {controller: "books", action: "create"} do |f| %>

    <div class="field">
      <%= f.text_field :title, class: "form-control", placeholder: "required", autofocus: true %>
    </div>

    <div class="actions">
      <%= f.submit "Search Book", class: "btn btn-default" %>
    </div>
  <% end %>
</div>
