/* Global */

$primary-color: #FFFFFF;

* {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

/* Links */
a,
a:focus,
a:hover {
  color: $primary-color;
}

/* base */

html,
body {
  height: 100%;
  background: url("books.jpg") no-repeat center center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
}

body {
  color: $primary-color;
}

/* navbar */

.navbar-default {
  background-color: transparent;
  border-color: transparent;
  font-size: 17px;
}

.navbar-default .navbar-brand {
  color: $primary-color;
  font-size: 32px;

}

.navbar-default .navbar-nav > li > a {
  color: $primary-color;
}

/* footer */

footer {
  text-align: center;
  font-size: 1em;
  position: relative;
  bottom: 0;
}

/* button */


/* div class fields */

.field {
  margin-top: 10px;
  margin-bottom: 10px;
}


/* flash message */

.alert-info {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  color: #000000;
  margin-left: 150px;
  margin-right: 150px;
}

.alert-warning {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  color: #000000;
  margin-left: 150px;
  margin-right: 150px;
}
.alert-danger {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  color: #000000;
  margin-left: 150px;
  margin-right: 150px;
}
.alert-success {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  color: #000000;
  margin-left: 150px;
  margin-right: 150px;
}


/* table styling */
td, th {
  padding: 10px;
}
