// Place all the styles related to the Welcomes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome {
  text-align: center;
  position: relative;
  padding-top: 50px;
}

.welcome h1 {
  font-size: 55px;
  letter-spacing: 1.5px;
}

h4 .btn {
  margin: 40px;
}
